/* Global styles */
.App {
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ddd;
  max-width: 100%;
}

header h1 {
  margin: 0;
}

.menu{
  margin-top: 32px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: unset;
    background-color: unset;
    gap: 44px;
}

.menu li{
  float: unset;
  margin: 0;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.menu li.active {
  text-decoration: underline;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

nav li.active {
  text-decoration: underline;
}

.articles {
  padding-right: 20px;
}

.article {
  padding: 24px 24px 0;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 0px;
  margin-bottom: 20px;
}

.article-footer {
  display: flex;
  justify-self: end;
  justify-content: space-between;
}

.article-footer li {
  margin-right: 24px;
}

.article-footer button {
  padding: 12px 24px;
  margin-right: -24px;
  background-color: #999;
  border: none;
}

.article-footer button:hover {
  color: #eee;
  background-color: #111111;
  cursor: pointer;
}

.article-infos {
  background: none;
}

.article svg {
  margin-right: 12px;
}

.articles h2 {
  margin-top: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #eee;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.categories h3 {
  margin-top: 0;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories li {
  margin-bottom: 5px;
}

.categories a:hover {
  color: #eee;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ededed;
  padding: 32px;
}

footer span:first-child {
  font-size: 12px;
}

footer span:last-child {
  font-size: 16px;
  font-weight: bold;
}

/* Mobile styles */

@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 20px 10px 10px;
  }

  nav li {
    margin-right: 10px;
    font-size: 14px;
  }

  .articles,
  .right-column {
    padding: 10px 0;
  }

  .articles p{
    text-align: justify;
  }

  .search-bar {
    margin-bottom: 10px;
    order: -1;
    padding: 24px;
    background: #ededed;;
    border-radius: 0;
    border: 0;
  }

  .search-bar input {
    font-size: 14px;
    padding: 12px;
  }

  .search-bar button{
    font-size: 14px;
    padding: 12px;
    background-color: white;
  }

  .categories{
    display: none;
  }
}

@media (max-width: 470px) {
  .menu ul{
    flex-direction: column;
    gap: 16px;
  }

  .article-footer {
    flex-direction: column;
  }

  .article-infos{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .article-footer li {
    margin-right: 0;
  }

  .article-footer button{
    align-self: end;
  }
}
/* Desktop styles */

@media (min-width: 768px) {
  header {
    padding: 20px;
  }

  nav li {
    font-size: 16px;
  }

  .articles {
    grid-area: articles;
    align-self: start;
    /*flex: 1;*/
    /*grid-area: 1 / col1-start / last-line / 2;*/
  }

  .articles h2,
  .articles p {
    text-align: left;
  }

  .right-column {
    flex: 1;
    margin-left: 20px;
  }

  /*.main {
    display: flex;
  }*/

  .main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "articles search-bar"
      "articles categories";
    padding: 32px 32px;
  }

  .search-bar {
    max-width: 100%;
    margin-bottom: 20px;
    grid-area: search-bar;
    padding: 24px;
    background: #ededed;
    border-radius: 0;
    border: 0;
    /*grid-area: 1 / col3-start / row1-end / 3;*/
    align-self: start;
  }

  .search-bar input {
    font-size: 16px;
    padding: 12px;
  }

  .search-bar button {
    background: white;
    padding: 12px;
  }

  .categories {
    grid-area: categories;
    padding: 24px;
    background: #ededed;
    align-self: start;
    text-align: left;
    /*grid-area: 2 / col3-start / row3-end / 3;*/
  }

  .categories ul{
    display: flex;
    flex-direction: column;
    background-color: unset;
  }

  .categories a{
    color: black;
    text-align: left;
    padding-left: 12px;
  }
}

/* Large desktop styles */

@media (min-width: 1200px) {
  .articles {
    flex: 2;
    margin-right: 20px;
  }

  .right-column {
    flex: 1;
    margin-left: 0;
  }
}
